* {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

body {
    margin: 0pt;
    border: none;
    background-color: black;
}

.playground {
    position: absolute;
    left: 100px;
    top: 10px;
    background-color: black;
}

.info {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    background-color: black;
    position: absolute;
    left: 420px;
    top: 10px;
    width: 198px;
    padding-left: 10px;
}

.arrow-left {
    position: absolute;
    left: 516px;
    top: 175px;
    border: 2px solid green;
}

.arrow-right {
    position: absolute;
    left: 573px;
    top: 175px;
    border: 2px solid green;
}

.arrow-up {
    position: absolute;
    left: 545px;
    top: 130px;
    border: 2px solid green;
}

.arrow-down {
    position: absolute;
    left: 545px;
    top: 220px;
    border: 2px solid green;
}

.gameover {
    position: absolute;
    left: 160px;
    top: 190px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    z-index: 1;
    background-color: black;
    padding: 10pt;
}

.newgame {
    position: absolute;
    left: 420px;
    top: 300px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    z-index: 1;
    background-color: black;
    color: lightgreen;
    border-color: lightgreen;
    padding: 10pt;
}

.copyright {
    position: absolute;
    left: 100px;
    top: 540px;
    padding: 10pt;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgreen;
}

a {
    color: lightgreen;
}