**/*.csproj.user
**/*.pubxml.user
**/*.json.user
**/*.min.css
**/*.min.js
.vs
chessengine
data
node_modules
APIServer/bin
APIServer/obj
APIServer/temp
APIServer/Readme.txt
APIServer/appsettings.Development.json
APIServer/sampledata/apiserver.db*
APIServer/wwwroot/webpack/**
APIServer/wwwroot/images/photoframe/**
APIServer/wwwroot/images/profiles/**
APIServer/wwwroot/images/slideshow/**
