body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    background-color: black;
    color: white;
    margin: 20pt;
}

input {
    margin-top: 10pt;
    margin-bottom: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
}

label {
    display: block;
    text-align: left;
}

table {
    min-width: 300pt;
    border-collapse: collapse;
    border: 3px solid blue;
    background-color: blue;
}

table caption {
    margin: 5pt;
}

table caption a {
    color: white;
}

td {
    padding: 20px;
    letter-spacing: 1px;
}

tbody td {
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: dodgerblue;
}

tbody tr:nth-child(even) {
    background-color: cornflowerblue;
}

td a {
    color: white;
}

a {
    color: lightgreen;
}

h1 {
    color: lightgreen;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    background-color: yellow;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    margin-bottom: 10pt;
}

.img-profile {
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 5pt;
    right: 5pt;
}

.img-status {
    margin-left: 10pt;
}

.selected {
    color: yellow;
}

.filled {
    color: yellow;
}

.transparent {
    background-color: transparent;
    border: none;
    outline: none;
}

.box {
    display: flex;
    flex-wrap: wrap;
}

.calendar-column {
    margin: 5pt;
    /*    flex: 1 1 auto; */
}

.text-column {
    margin: 5pt;
    /*    flex: 1 1 auto; */
}

.caption {
    margin: 5pt;
}

.copyright {
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgreen;
}

.error {
    margin-top: 10pt;
    color: red;
}

.small-button {
    background-color: blue;
    border: 2px solid #008CBA;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 8pt;
    margin-right: 8pt;
}

.small-button:hover {
    background-color: #008CBA;
    color: darkblue;
}

.button {
    background-color: blue;
    border: 2px solid #008CBA;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 18pt;
    margin-top: 5pt;
    margin-right: 10pt;
    padding: 5pt;
}

.button:hover {
    background-color: #008CBA;
    color: darkblue;
}

/* from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox */
/* The container */
.container-checkbox {
    display: inline;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark-checkbox {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark-checkbox {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark-checkbox:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark-checkbox:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* The container */
.container-radiobutton {
    display: inline;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-radiobutton input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark-radiobutton {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radiobutton:hover input ~ .checkmark-radiobutton {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radiobutton input:checked ~ .checkmark-radiobutton {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-radiobutton:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radiobutton input:checked ~ .checkmark-radiobutton:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-radiobutton .checkmark-radiobutton:after {
    top: 7px;
    left: 8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
}

@media (max-width: 480px) {
    body {
        font-size: 11pt;
        margin: 10pt;
    }

    input {
        font-size: 11pt;
    }

    table {
        min-width: 150pt;
        width: 150pt;
        font-size: 11pt;
    }

    td, th {
        padding: 7px;
        letter-spacing: 1px;
    }

    input {
        width: 200pt;
    }

    textarea {
        font-size: 11pt;
    }

    .container-checkbox {
        font-size: 11pt;
    }

    .button {
        font-size: 11pt;
    }
}