* {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

input {
    font-size: 18pt;
    margin: 5pt;
}

p, label, ul {
    color: white;
    font-size: 18pt;
    font-family:Arial, Helvetica, sans-serif;
    margin: 5pt;
}

.active-background {
    background-color: #007400;
}

.inactive-background {
    background-color: #006400;
}

.gametype {
    display:inline;
    margin: 5pt;
}

.gameoption {
    display: inline-block;
    margin: 5pt;
}

.ticket {
    color: cyan;
    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    margin: 5pt;
}

.copyright {
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgreen;
}

.summary-otherplayer {
    display: inline;
    color: white;
    font-family: 'Comic Sans MS';
    margin: 5pt;
}

.summary-currentplayer {
    display: inline;
    color: yellow;
    font-family: 'Comic Sans MS';
    margin: 5pt;
}

.header-section {
    min-height: 90px;
}

.left-section {
    position: absolute;
    top: 150px;
    color: white;
    margin: 5pt;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
}

.right-section {
    position: absolute;
    top: 150px;
    right: 30px;
    color: white;
    margin: 5pt;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom-section {
    color: white;
    margin-left: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
}

.stitch-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20pt;
}

.cards-section {
    margin: 5pt;
}

.blinking {
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0% {
        color: white;
    }

    49% {
        color: white;
    }

    60% {
        color: transparent;
    }

    99% {
        color: transparent;
    }

    100% {
        color: white;
    }
}

/* from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox */
/* The container */
.container-checkbox {
    display: inline;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark-checkbox {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark-checkbox {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark-checkbox:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark-checkbox:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* The container */
.container-radiobutton {
    display: inline;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-radiobutton input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark-radiobutton {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radiobutton:hover input ~ .checkmark-radiobutton {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radiobutton input:checked ~ .checkmark-radiobutton {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-radiobutton:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radiobutton input:checked ~ .checkmark-radiobutton:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-radiobutton .checkmark-radiobutton:after {
    top: 7px;
    left: 8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
}

.button {
    background-color: blue;
    border: 2px solid #008CBA;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 18pt;
}

.button:hover {
    background-color: #008CBA;
    color: darkblue;
}
