@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model APIServer.Pages.ImpressumModel
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="public,max-age=60,must-revalidate" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Impressum</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/impressum/impressum.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/impressum/impressum.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @Html.Raw(Model.Markdown)
    <p>
        <button class="button" title="OK" onclick="window.location='/slideshow'">OK</button>
    </p>
    <div class="copyright">
        <span>Myna Impressum 1.0.5. Copyright 2020-2021 </span>
        <a href="/homepage">Niels Stockfleth</a>
        <span>.</span>
    </div>
</body>
</html>
