@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="public,max-age=60,must-revalidate" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Markdown</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/markdown/markdown.css" asp-append-version="true" />
        <script src="~/js/common/utils.js" asp-append-version="true"></script>
        <script src="~/js/common/controls.js" asp-append-version="true"></script>
        <script src="~/js/markdown/markdown.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/markdown/markdown.min.css" asp-append-version="true" />
        <script src="~/js/common/utils.min.js" asp-append-version="true"></script>
        <script src="~/js/common/controls.min.js" asp-append-version="true"></script>
        <script src="~/js/markdown/markdown.min.js" asp-append-version="true"></script>
    </environment>
</head>
<body>
</body>
</html>